{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block content %}

    <h1>Panier</h1>
        {% if cart|length > 0 %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Produit</th>
            <th scope="col"></th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% set total=null %}
        {% for product in cart %}
     <tr>
         <th>{{ product.product.name}}</th>
         <td> <img src="/uploads/{{ product.product.image}}" alt="{{ product.product.name}}" height="70px"></td>
            <td>
                <a href="{{ path('minus', {'id':product.product.id}) }}"><img src="{{ asset('assets/images/minus.png')}}"  height="15px" alt="minus"></a>
                {{ product.quantity }}
                <a href="{{ path('add', {'id':product.product.id}) }}"><img src="{{ asset('assets/images/add.png')}}"  height="15px"alt="add"></a>
            </td>
            <td>{{ product.product.price/100 }} €</td>
            <td>{{ (product.product.price * product.quantity)/100 }} €</td>
            <td>
                <a href="{{ path('delete', {'id':product.product.id}) }}">
                    <img src="{{ asset('assets/images/trash.png')}}"  height="25px" alt="trash">
                </a>
            </td>
        </tr>
            {% set total=total+(product.product.price * product.quantity)/100 %}
        {% endfor %}
        </tbody>
    </table>
            <div class="row">
                <div class="col-12">
                    <div class="float-right">
                        <div>Nombre de produits:{{ cart|length }}</div>
                        <div>Total:{{ total }} €</div>
                        <button  class="btn btn-secondary btn-lg">Valider</button>
                    </div>
                </div>
            </div>

    {% else %}
        <p></p>
    {% endif %}
{% endblock %}
