{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block content %}
    <h1> Decouvrez nos produits</h1>
<div class="row mt-5">
    {% for product in products %}
    <div class="col-md-4 mt-5">
        <a class="text-decoration-none" href="{{ path('oneproduct', {'slug':product.slug}) }}">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-fluid" src="/uploads/{{ product.image }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <div class="d-flex justify-content-between">
                    <p class="card-text">{{ product.title }}</p>
                    <span>{{ product.price/100 }}€</span>
                </div>
            </div>
        </div>
        </a>
    </div>
    {% endfor %}
</div>


{% endblock %}
