
{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block content %}
    <h1> {{ product.name }}</h1>
    <div class="row mt-5">
            <div class="col-md-6">
                    <img src="/uploads/{{ product.image }}" alt="{{ product.image }}">
                <div class="d-flex">
                    <p>{{ product.title }}</p>
                    <p class="ml-5">{{ product.price/100 }}€</p>
                </div>
            </div>
        <div class="col-md-6 addToCard">
            <p>{{ product.description }}</p>
         <a class="btn btn-secondary btn-lg" href="{{ path('add', {'id':product.id}) }}">Ajouter au panier</a>
        </div>
    </div>


{% endblock %}